html{
background-color: #15202b;
color: #FFFFFF;
font-family: monospace;
font-size: 120%;
}

.flexbox{
display: flex;
align-items: flex-end;
}

*{
margin: 0px;
padding: 0px;
}

header{
margin-top: 25px;
margin-bottom: 75px;
}

.name{
border-bottom: white solid 1px;
margin-right: 100px;
padding-right: 15px;
text-align: left;
}

.header-links{
padding-left: 40px
}

a{
color: #34dbd5;
text-decoration: none;
}

.main{
text-align: center;
max-width: 750px;
margin: auto;
}

h1{
margin-bottom: 45px;
}

a:hover{
color: #af5c09;
}

.note{
margin-top: 25px;
padding: 5px;
background-color: #26394c;
border-radius: 15px;
}

ul{
text-align: left;
margin-top: 35px;
margin-bottom: 55px;
line-height: 150%;
}

li{
margin-bottom: 15px;
}

.container{
border: #5783af dashed 2px;
padding: 35px;
border-radius: 25px;
margin: 25px auto;
}

.paragraph{
text-align: left;
line-height: 200%;
}

.me{
  border-radius: 100px;
  width: 175px;
  margin-bottom: 112px;
}

@media(max-width: 790px){
.flexbox{
display: inline;
text-align: center;
}

.name{
border-bottom: white solid 1px;
margin-right: 0px;
padding-right: 0px;
max-width: 250px;
margin: 15px auto;
}

.header-links{
padding-left: 0px;
margin-bottom: 10px;
margin-top: 15px;
}

.introduction{
margin: 75px 15px;
}
}
